---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import Welcome from '../components/Welcome.astro';
import Programs from '../components/Programs.astro';
import Classes from '../components/Classes.astro';
import Schedule from '../components/Schedule.astro';
import Faculty from '../components/Faculty.astro';
import Performance from '../components/Performance.astro';
import Studio from '../components/Studio.astro';
import Gallery from '../components/Gallery.astro';
import Visit from '../components/Visit.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <Welcome />
    <Programs />
    <Classes />
    <Schedule />
    <Faculty />
    <Performance />
    <Studio />
    <Gallery />
    <Visit />
  </main>
  <Footer />
</Base>
